<%= javascript_pack_tag 'plays/index' %>

<% if @game_collection.present? %>
  <%= form_for :play, url: plays_path, method: :post, remote: true do |f| %>
    <%= f.hidden_field :timer_value, id: 'timer-value-input' %>
    <%= f.hidden_field :image_id, id: 'image-id-input' %>

    <div id="game-container">
      <h3>Timer:</h3>
      <p id='current-timer-val'></p>

      <div class="img-container">
        <img src='#' id='current-img'/>
      </div>

      <%= f.submit 'Play', id: 'play-btn' %>
    </div>
  <% end %>

  <div id='played-games'>
    <%= render partial: 'plays/partials/plays_table', locals: { plays: @plays } %>
  </div>
<% else %>
  <h3>Upload images to start a game :)</h3>
<% end %>


